# ------------------------------------------------------------------------------
# -> User
# ------------------------------------------------------------------------------

[user]
  name = valters

# ------------------------------------------------------------------------------
# -> Settings
# ------------------------------------------------------------------------------

[push]
  default=current

[core]
  editor = nvim

# ------------------------------------------------------------------------------
# -> Colors
# ------------------------------------------------------------------------------

[color]
  ui = true

[color "status"]
  changed = green
  added = yellow
