# ------------------------------------------------------------------------------
# -> User
# ------------------------------------------------------------------------------

[user]
    name = valters

# ------------------------------------------------------------------------------
# -> Settings
# ------------------------------------------------------------------------------

[core]
    editor = nvim

# ------------------------------------------------------------------------------
# -> Colors
# ------------------------------------------------------------------------------

[color]
    ui = true
