# ------------------------------------------------------------------------------
# -> General
# ------------------------------------------------------------------------------

*.log

# ------------------------------------------------------------------------------
# -> Linux
# ------------------------------------------------------------------------------

*~

# ------------------------------------------------------------------------------
# -> Nvim / Vim
# ------------------------------------------------------------------------------

%*

# ------------------------------------------------------------------------------
# -> Node
# ------------------------------------------------------------------------------

node_modules

# ------------------------------------------------------------------------------
# -> Editors
# ------------------------------------------------------------------------------

.vscode
.idea
