# ------------------------------------------------------------------------------
# -> Nvim
# ------------------------------------------------------------------------------

nvim
!nvim/.config/nvim/init.vim
